uvicorn==0.43.0
websockets==16.0
opencv-python==4.13.0.92
numpy==2.4.4
scipy==1.17.1
ultralytics==8.4.33
deepface==0.0.99
pymongo==4.16.0
passlib[bcrypt]==1.7.4
bcrypt==5.0.0
python-jose[cryptography]==3.5.0
python-dotenv==1.2.2
